.topHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #032541;
    padding: 6px 0;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .topHeader {
        flex-direction: column;
    }
}
