.searchArea {
    margin-top: 30px;
}

.searchArea input {
    width: 80%;
    height: 44px;
    padding: 0 15px;
    border: 0;
    border-top-left-radius: 31px;
    border-bottom-left-radius: 31px;
}

.searchButton {
    width: 20%;
    outline: none;
    height: 44px;
    padding: 0 5px;
    border: 0;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
    background: #032541;
    cursor: pointer;
}