.cardMovie {
    height: 300px;
    margin: 5px;
}

.cardInner {
    width: 146px;
    position: relative;
    height: 75%;
    cursor: pointer;
    background: #ccc;
    transition: 0.2s;
    border-radius: 7px;
}

.cardInner .cardImage {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 7px;
    box-shadow: 0 0 5px #eee;
}

.cardInner:hover .cardImage {
    opacity: 0.2;
}

.info {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.cardInner:hover .info {
    display: flex;
}

span.vote {
    width: 40px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    height: 40px;
    font-family: fantasy;
    position: relative;
    text-align: center;
    border: 2px solid #fff;
    line-height: 40px;
    color: #fff;
}

p.released {
    margin: 7px 0;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 29px;
    font-family: system-ui;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
}

.title {
    margin-top: 14px;
    font-family: system-ui;
    font-weight: 600;
    font-size: 14px;
}
