.seperator {
    width: 66%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 20px auto;

}

.seperator h2 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
}

/* .genresArea {
    width: 20%;
    font-family: system-ui;
    border-right: 1px solid #ccc;
} */

/* .genresArea li {
    padding: 5px 24px;
    font-size: 16px;
    font-weight: 500;
} */

.moviesArea {
    /* background: #555; */
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: wrap;
}

/* .card {
    width: 20%;
    padding: 15px;
    background: #ccc;
    margin: 10px;
} */
