.bottomHeader {
    background: url("../../../../assets/images/cover.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.bottomHeader .cover {
    /* background: rgba(3, 37, 65, .6); */
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, .6) 0%, rgba(3, 37, 65, .6) 35%, rgba(0, 212, 255, .6) 100%);
    padding-top: 80px;
    padding-bottom: 80px;
}
