.cardGroup {
    width: 100%;
}

/* head */
.head {
    display: flex;
    align-items: center;
}

.head h2 {
    font-family: system-ui;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
}

/* .head h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui;
    color: #032541;
} */

.backdrop {
    width: 470px;
    height: 265px;
}

.poster {
    width: 200px;
    height: 300px;
}

.head .cardGroupTabs {
        margin-left: 26px;
        border: 1px solid #000;
        border-radius: 21px;
        font-family: system-ui;
        position: relative;
        bottom: 5px;
}

.cardGroupTabs span {
    display: inline-block;
    padding: 9px 18px;
    border-radius: 21px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.cardGroupTabs span.active {
    background-color: #eee;
}



.cardArea {
    display: flex;
    overflow: auto;
    min-height: 200px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

